<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="duke" class="spring.pag040.Juggler">
		<constructor-arg value="15"></constructor-arg>
	</bean>
	
	<bean id="sonnet29" class="spring.pag043.Sonnet29"/>
	
	<bean id="duke2" class="spring.pag043.PoeticJuggler">
		<constructor-arg value="30" />
		<constructor-arg ref="sonnet29"/>
	</bean> 
</beans>