<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!-- Juggler using default constructor -->
	<bean id="odin" class="spring.pag040.Juggler"></bean>

	<!-- using with parameter contructor -->
	<bean id="sandra" class="spring.pag040.Juggler">
		<constructor-arg value="15"></constructor-arg>
	</bean>

	<!-- Injecting object references with constructors -->
	<bean id="sonetoChafa" class="spring.pag040.Sonnet29"></bean>

	<bean id="amaya" class="spring.pag040.PoeticJuggler">
		<constructor-arg value="15"></constructor-arg>
		<constructor-arg ref="sonetoChafa"></constructor-arg>
	</bean>

	<bean id="saxophone" class="spring.pag049.Saxophone"></bean>
	<bean id="piano" class="spring.pag050.Piano"></bean>

	<bean id="kenny" class="spring.pag046.Instrumentalist">
		<property name="song" value="Jingle Bells"></property>
		<property name="age" value="20"></property>
		<!-- kenny can play any instrument -->
		<!-- <property name="instrument" ref="saxophone"></property> -->
		<property name="instrument" ref="piano"></property>
	</bean>

	<!-- Injecting inner beans -->
	<bean id="john" class="spring.pag046.Instrumentalist">
		<property name="song" value="Jingle Bells" />
		<property name="instrument">
			<bean class="spring.pag049.Saxophone" />
		</property>
	</bean>

	<bean id="duke" class="spring.pag040.PoeticJuggler">
		<constructor-arg value="15" />
		<constructor-arg>
			<bean class="spring.pag040.Sonnet29" />
		</constructor-arg>
	</bean>
	<!-- wiring collections -->
	<bean id="hank" class="spring.pag053.OneManBand">
		<property name="instruments">
			<list>
				<ref bean="piano" />
				<ref bean="saxophone" />
			</list>
		</property>
	</bean>

	<!-- wiring collections set -->
	<bean id="rose" class="spring.pag053.OneManBand">
		<property name="instruments">
			<set>
				<ref bean="piano" />
				<ref bean="saxophone" />
			</set>
		</property>
	</bean>
</beans>